/* .text-one { */
    color: red;
}

/* .text-two { */
    color: red;
}

.text-red {
    color:red;
}
.text-blue {
    color:blue;
}
.text-large {
    color: 2rem;
}
.text-red {
    color:red;
}
.text-xlarge {
    color: 5rem;
}
